{% extends 'QuentinBundle::base.html.twig' %}

{% block content %}

    <a href="{{ path('athlete_show') }}">Athlètes</a>
    <a href="{{ path('discipline_show') }}">Disciplines</a>
    <a href="{{ path('pays_show') }}">Pays</a>

{% endblock %}